# Desafio 1

Para esse desafio, vamos trabalhar com o data set [Black Friday](https://www.kaggle.com/mehdidag/black-friday), que reúne dados sobre transações de compras em uma loja de varejo.

Vamos utilizá-lo para praticar a exploração de data sets utilizando pandas. Você pode fazer toda análise neste mesmo notebook, mas as resposta devem estar nos locais indicados.

> Obs.: Por favor, não modifique o nome das funções de resposta.

## _Set up_ da análise

In [40]:
import pandas as pd
import numpy as np

In [4]:
black_friday = pd.read_csv("black_friday.csv")

## Inicie sua análise a partir daqui

In [5]:
df=black_friday

## Questão 1

Quantas observações e quantas colunas há no dataset? Responda no formato de uma tuple `(n_observacoes, n_colunas)`.

In [6]:
def q1():
    # Retorne aqui o resultado da questão 1.
    answer1=df.shape
    return answer1

## Questão 2

Há quantas mulheres com idade entre 26 e 35 anos no dataset? Responda como um único escalar.

In [21]:
def q2():
    # Retorne aqui o resultado da questão 2.
    aux=df[['Gender','Age']]
    q2=aux[(aux['Gender']=='F') & (aux['Age']=="26-35")]
    answer2=q2['Gender'].count()
    return int(answer2)

## Questão 3

Quantos usuários únicos há no dataset? Responda como um único escalar.

In [9]:
def q3():
    # Retorne aqui o resultado da questão 3.
    answer3=df['User_ID'].nunique()
    return answer3

## Questão 4

Quantos tipos de dados diferentes existem no dataset? Responda como um único escalar.

In [20]:
def q4():
    # Retorne aqui o resultado da questão 4.
    answer4=df.dtypes.nunique()
    return int(answer4)

## Questão 5

Qual porcentagem dos registros possui ao menos um valor null (`None`, `ǸaN` etc)? Responda como um único escalar entre 0 e 1.

In [19]:
def q5():
    # Retorne aqui o resultado da questão 5.
    at=df.isna().sum().sum()
    atotal=df.shape[0]*df.shape[1]
    answer5=at/atotal
    return float(answer5)

## Questão 6

Quantos valores null existem na variável (coluna) com o maior número de null? Responda como um único escalar.

In [18]:
def q6():
    # Retorne aqui o resultado da questão 6.
    aux=df.isna().sum()
    answer6=aux['Product_Category_3']
    return int(answer6)

## Questão 7

Qual o valor mais frequente (sem contar nulls) em `Product_Category_3`? Responda como um único escalar.

In [17]:
def q7():
    # Retorne aqui o resultado da questão 7.
    answer7=df['Product_Category_3'].dropna().mode().loc[0]
    return int(answer7)

## Questão 8

Qual a nova média da variável (coluna) `Purchase` após sua normalização? Responda como um único escalar.

In [50]:
def q8():
    # Retorne aqui o resultado da questão 8.
    min=df.Purchase.min()
    max=df.Purchase.max()
    normalized_df=(df.Purchase-min)/(max-min)
    return normalized_df.mean().item()

## Questão 9

Quantas ocorrências entre -1 e 1 inclusive existem da variáel `Purchase` após sua padronização? Responda como um único escalar.

In [48]:
def q9():
    # Retorne aqui o resultado da questão 9.
    mean = df.Purchase.mean()
    std  = df.Purchase.std()
    normalized_df = (df.Purchase - mean)/(std)
    return normalized_df.between(-1,1).sum().item()

## Questão 10

Podemos afirmar que se uma observação é null em `Product_Category_2` ela também o é em `Product_Category_3`? Responda com um bool (`True`, `False`).

In [52]:
def q10():
    # Retorne aqui o resultado da questão 10.
    aux1 = df[df['Product_Category_2'].isna() == True]
    aux2 = df.iloc[aux1.index,:].Product_Category_3.isna()
    return aux2.all().item()